body {
    font-family: Verdana, Arial, sans-serif;
    background-color: aliceblue;
}

.main-title,
.recipe-list {
    text-align: center;
}

.main-title {
    color: greenyellow;
    background-color: green;
}

.recipe-list {
    list-style-type: none;
    padding: 0%;
}

a {
    color: deepskyblue;
}

div {
    margin-left: 30%;
    margin-right: 30%;
}

img {
    height: auto;
    width: 100%;
}